body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 50px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding3{
  padding: 20px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}


.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.break-line{
  width: 50%;
}

/* buttons */
.custom_dark-btn,
.custom_orange-btn {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 145px;
  outline: none;
  color: #f7f7f7;
  border: 1px solid transparent;
}

.custom_dark-btn {
  background-color: #000000;
}

.custom_dark-btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.custom_orange-btn {
  background-color: #c00200;
}

.custom_orange-btn:hover {
  border: 1px solid #c00200;
  color: #c00200;
  background-color: transparent;
}

.custom_heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom_heading-text {
  text-align: center;
}

.custom_p-text {
  width: 80%;
  margin: 30px auto;
}

.custom_heading1 {
  text-align: center; 
  color: #c00200;
  margin: 30px auto; 
}

/*---------------------------------header section--------------------------------------------*/
.hero_area {
  height: 98vh;
  background-color: #E8E8E8;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #343434;
  text-align: center
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

/*Company logo*/
.navbar-brand img {
  width: 100px;
  margin-right: 8px;
}

.navbar-brand span {
  font-size: 40px;
  font-weight: 700;
  color: #c00200;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.nav-link{
  font-size: 19px;
}

/*--------------------------------end header section------------------------------------*/

/*---------------------------------slider section--------------------------------------*/
.slider_section {
  padding-top: 6%;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 100%;
  margin: 50px auto 0;
}

.slider_img-box img {
  width: 100%;
  border-radius: 1.5%;
}

.slider_item-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.slider_item-detail h1 {
  font-weight: 700;
  font-size: 40px;
  width: 95%;
}

.slider_item-detail p {
  font-size: large;
  margin: 40px 0;
}

.slider_call-btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #edb040;
  color: #fefdfd;
  border-radius: 20px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 105px;
  transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
  border: 1px solid #c00200;
  color: #c00200;
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
  border: 1px solid #000000;
  color: #000000;
}

/*--------------------------------------end slider section------------------------------------*/


/*--------------------------------------service section--------------------------------------*/
.service_section .card .card-img-top {
  width: 250px;
  height: 280px;
  margin: 55px auto 5px auto;
}

.service_section .card {
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.service_section .card .card-title {
  color: #c00200;

}

.service_section .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: transparent;
}

.service_section .card:hover {
  cursor: pointer;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

}

.service_section .card:hover::after {
  background-color: #c00200;
}

.explore-button{
  padding-bottom: 40px;
}

/*--------------------------------------end service section--------------------------------------*/


/*--------------------------------------yarn section----------------------------------*/
.yarn_section {
  width: 100%;
  height: 500px;
  background-image: url(../images/yarn-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yarn_section h2 {
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
/*------------------------------------end yarn section-----------------------------*/

/*----------------------------------clients section------------------------------*/
.client_section {
  width: 100%;
  height: 500px;
  background-image: url(../images/clients.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}
/*----------------------------------end clients section--------------------------*/

/*----------------------------------contact section---------------------------*/
.contact_section {
  background-image: url(../images/shoelace1.png);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: right center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: .8px solid #252525;
  width: 75%;
  margin: 10px 0;
}

.contact_form-container {
  padding: 15px 0 15px 0;

}

.contact_form-container button {
  border: none;
  background-color: #c00200;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 14px;
}
/*------------------------------end contact section------------------------------------*/

/*------------------------------product contact section------------------------------*/
.product-contact_section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
}
/*-------------------------------end product contact section-----------------------------*/

/*----------------------------------about section-------------------------------*/
.about-image_section {
  width: 100%;
  height: 450px;
  background-image: url(../images/aboutimage.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
}

.team_section {
  width: 100%;
  height: 450px;
  background-image: url(../images/teamwork.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.team-div{
  width: 40%;
  height: auto;
  float: right;
  margin-top: 60px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.team_section h3{
  color: #c00200;
}

/*----------------------------------end about section--------------------------------*/

/*------------------------------------map section------------------------------------*/
.map_section {
  width: 100%;
  height: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
}
/*----------------------------------end map section---------------------------------*/

/*------------------------------------mission section------------------------------------*/

.mission-vision-section{
  margin: 80px 80px;
}

.vision-div{
  border: 1px solid lightgrey;
  border-radius: 5%;
  padding: 40px;

  grid-column-start: 1;
  grid-column-end: 3;
}

.mission-div{
  background-color: #E8E8E8;
  padding: 40px;
  border-radius: 5%;

  grid-column-start: 1;
  grid-column-end: 3;
}

.vision-p{
  font-size: large;
  font-weight: 500;
  font-style: italic;
}

.mission-p{
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.quotation-img{
  width: 5%;
  height: 5%;
}

.mission-span-left{
  margin-right: 25px;
}

.mission-span-right{
  margin-left: 25px;
}

/*------------------------------------end mission section------------------------------------*/

/*----------------------------------Slideshow container----------------------------*/

.slideshow-container{
  max-width: 700px;
  position: relative;
  margin: auto;
}

.slideshow-img{
  display: none; /*Hide images default, will use script to show images*/
}

/* Next & previous buttons */
.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
  background-color: darkgray;
}

.slideshow-text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #030101;
  font-weight: 600;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* dots indicators */
.slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-active, .slideshow-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.img-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*----------------------------------end Slideshow container----------------------------*/

/*---------------------------Video section--------------------------------*/
.machine-videos-div{
  margin: auto;
  text-align: center;
}

.machine1-video{
  width: 600px;
  height: 400px;
  background-color: black;
  margin-top: 20px;
}

.machine2-video{
  width: 300px;
  height: 400px;
  background-color: black;
  margin-top: 20px;
  margin-left: 20px;
}

.video_section {
  width: 100%;
  height: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
}
/*-----------------------------end YouTube Video section-------------------------------*/

/*------------------------------info section------------------------------*/
.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.info_section .form_container input {
  width: 225px;
  height: 30px;
}

.info_section .form_container button {
  background-color: #fc5d35;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 30px;
  margin-top: 15px;
  font-size: 15px;
}
/*----------------------------------end info section----------------------------------*/


/*---------------------------------------footer section------------------------------------------*/
.footer_section {
  background-color: #E8E8E8;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color: #191818;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #191818;
}
/*----------------------------------------end footer section----------------------------------------*/